

<div class="list_header">
    <div class="left_side ">
        <img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930"
            alt="sa">
        <div class="rr">
            <h4>Playlist</h4>
            <h1>ILY</h1>
            <br>
            <p>asdasd</p>
        </div>
    </div>

</div>
<hr>

<div class="toolbar">
    <div class="">
        <div class="btn">
            <i class="fas fa-play"></i>
        </div>
        <div class="btn">
            <i class="fas fa-random"></i>
        </div>
        <div class="btn">
            <i class="fas fa-sync-alt"></i>
        </div>
    </div>
    <div class="right_side">
        <div class="btn">
            <i class="fas fa-plus"></i>
        </div>
        <div class="btn">
            <div class="dropdown">
                <a class="" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="table" id="playlist-table-body">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            {{!-- <tr>
                <td>1</td>
                <td><a href="#">ILY (I Love You Baby)</a></td>
                <td>Surf Mesa feat. Emilee</td>
                <td>ILY</td>
                <td>2:56</td>
            </tr> --}}

            {{#each tracks}}
            <tr >
                <td id="id">{{@index}}</td>
                <td><button id="list_play" data-track-id="{{this.id}}" style="text-align: left;">{{this.name}}</button></td>
                <td>{{this.artist}}</td>
                <td>{{this.album}}</td>
                <td>{{this.duration}}</td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
</div>


<script>
    


</script>